<p id="notice"><%= notice %></p>

<h1>Rondas</h1>

<table>
  <thead>
    <tr>
      <th>Ronda</th>
      <th>Resultado</th>
      <th>Pote</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rounds.each do |round| %>
      <tr>
        <td><%= round.id %></td>
        <td><%= round.result %></td>
        <td><%= round.pot %></td>
        <td><%= link_to 'Show', round %></td>
      </tr>
    <% end %>
  </tbody>
</table>
